body {
  margin: 100px;
  background-color: #f5e5d4;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.todo-body {
  position:relative;
  background-color: rgba(255, 255, 255, 0.801);
  text-align: center;
  padding: 100px;
  border-radius: 20px;
  left: 50%;
  transform: translateX(-50%);
  width: 40%;
  height: 60%;
 }

.list {
  position: relative;
  justify-content: center;
  list-style: none;
}

.black-nav{
  color: #8294C4;
  text-shadow: 0px 1px 8px rgba(109, 109, 109, 0.3);
}

.todo-button {
  border: 0;
  background-color: transparent;
  float: right;

}

.input{
  background-color: #DBDFEA;
  padding-bottom: 10px;
  padding-top: 10px;
  border-radius: 30px;
  border: 0px;
  box-shadow: 0px 2px 8px rgba(59, 59, 59, 0.45);
  margin-right: 10px;
}

.todo-item {
  padding: 12px;
  margin: 10px;
  background-color: #c4e9c8cc;
  border-radius: 20px;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

